<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/errors' %>
<% if current_user %>
  <a href="<%= user_url(current_user) %>">Profile Page</a>
  <form action="<%= session_url(current_user) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= form_auth %>
    <button>Log out</button>
  </form>
  <% else %>
    <%= link_to "Log in", new_session_url %>
  <% end %>
<%= yield %>

</body>
</html>
